<%! func Setting(w io.Writer) error %>

<%% import "github.com/medcl/gopa/modules/ui/admin/common" %%>

<% common.Head(w, "Setting","") %>
<% common.Body(w) %>
<% common.Nav(w,"Setting") %>



<div class="tm-middle">
    <div class="uk-container uk-container-center">

        <div class="uk-grid" data-uk-grid-margin="">
            <div class="tm-sidebar uk-width-medium-1-4 uk-hidden-small uk-row-first">



            </div>
            <div class="tm-main uk-width-medium-3-4">

                <article class="uk-article">

                    Setting.

                </article>

            </div>
        </div>

    </div>
</div>

<% common.OffCanvas(w) %>

<% common.Footer(w) %>
