*.iml
*.idea/**/*
*.idea
.idea/*
.gradle/**/*
.gradle/*
out/**/*
out/*
build/**/*
build/*
*.iml
target/**
gen/*
*/bin/*
*.class
*.iws
*.ipr
*/.idea/**
*/.idea/**/**
*/.gradle/**
*/out/**
*/build/**
*/*.iml
*/target/**
*/gen/*
*/bin/**
*/*.class
*.iws
*.ipr
*/R.java
gen/
classes/
bin/
target/
*.log
*/*/proguard_logs/**
private_test
*.exe
log
out
data
bloomfilter.bin
