<%! func Index(w io.Writer) error %>

<%% import "github.com/medcl/gopa/modules/ui/templates/common" %%>

<% common.Head(w, "Tasks","") %>
<link rel="stylesheet" href="/static/assets/css/tasks.css" />
<script src="/static/assets/js/jquery.timeago.js"></script>
<script src="/static/assets/js/page/tasks.js"></script>

<% common.Body(w) %>
<% common.Nav(w,"Tasks") %>



<div class="tm-middle">

    <div class="uk-container uk-container-center">

        <div class="uk-grid" data-uk-grid-margin>


            <div class="uk-width-2-10">
                <div class="uk-alert" ><span id="domain-alert"></span></div>
                <ul id="domain-records" class="uk-list">
                    <li>...</li>
                    <li>...</li>
                    <li>...</li>
                </ul>
            </div>

            <div class="uk-width-8-10">
                <div class="uk-alert" ><span id="alert"></span></div>

                <table id="tasks" class="uk-table uk-table-hover uk-table-striped" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Path</th>
                        <th>Title</th>
                        <th>Size</th>
                        <th>Updated</th>
                    </tr>
                    </thead>
                    <tbody id="records">
                    </tbody>
                </table>

                <ul class="uk-pagination" data-uk-pagination="{items:100, itemsOnPage:10}"></ul>

            </div>
        </div>

    </div>

</div>

<% common.OffCanvas(w) %>

<% common.Footer(w) %>
