
INPUT {
	font-family: "Lantinghei SC","Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei",微软雅黑,STHeiti,"WenQuanYi Micro Hei",SimSun,Helvetica,sans-serif;
	BOX-SIZING: border-box;  -moz-box-sizing: border-box; -webkit-box-sizing: border-box
}

.g {
	/*COLOR: #2c2d2d;*/
    font-size: 10px;
}
.g A{
	/*COLOR: #2c2d2d*/
}

#out {
	min-width: 433px; _zoom: 1
}

.global_left{
	padding-left: 150px;
}
#wrapper {
	 _zoom: 1
}
#container {
	 clear: both;
}
#u {
	Z-INDEX: 299; POSITION: absolute; WHITE-SPACE: nowrap; RIGHT: 10px; TOP: 6px; _top: 0
}
#u_m {
	COLOR: #14568a; CURSOR: pointer
}
#u_ms {
	TEXT-DECORATION: underline
}
#u_m_tip {
	Z-INDEX: 299; BORDER-BOTTOM: #9a99ff 1px solid; POSITION: absolute; BORDER-LEFT: #9a99ff 1px solid; WIDTH: 100px; DISPLAY: none; BACKGROUND: #fff; OVERFLOW: hidden; BORDER-TOP: #9a99ff 1px solid; RIGHT: 40px; BORDER-RIGHT: #9a99ff 1px solid; TOP: 24px; _top: 26px
}
#u_m_tip A {
	BORDER-BOTTOM: #e6e6e6 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; PADDING-LEFT: 10px; WIDTH: 100%; PADDING-RIGHT: 10px; DISPLAY: block; COLOR: #0001cf; FONT-SIZE: 12px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
#u_m_tip A:hover {
	BACKGROUND: #d9e1f6
}
#u_m_tip A.last {
	BORDER-BOTTOM-WIDTH: 0px
}
#head {
	FONT-SIZE: 12px;
    background: #f6f6f6;
	padding-bottom: 20px;
	border-bottom: 1px solid #ebebeb;
}
.fm {
	Z-INDEX: 297; POSITION: relative; CLEAR: both
}
.nv {
	Z-INDEX: 298;
	POSITION: relative;
	HEIGHT: 70px;
}
.nv .logo {
	FLOAT: left; MARGIN-RIGHT: 20px;
}
.nv .tab {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 20px
}
.nv A {
	FONT-SIZE: 14px
}
.nv B {
	FONT-SIZE: 14px
}
.btn {
	FONT-SIZE: 14px
}
#page {
	FONT-SIZE: 14px
}
#more {
	FONT-SIZE: 14px
}
.nv A {
	COLOR: #428BCA;
}
.btn {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; PADDING-LEFT: 0px; WIDTH: 95px; PADDING-RIGHT: 0px; BACKGROUND: url(../img/btn_style.png) #ddd; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 32px; BORDER-LEFT-WIDTH: 0px; CURSOR: pointer; PADDING-TOP: 2px
}
.btn_h {
	BACKGROUND-POSITION: -100px 0px
}
.btn_wr {
	POSITION: relative; WIDTH: 97px; DISPLAY: inline-block; BACKGROUND: url(../img/btn_style.png) no-repeat -202px 0px; HEIGHT: 34px; _top: 1px
}
.seth {
	DISPLAY: none; MARGIN-LEFT: 22px
}
.seth A {
	COLOR: #428BCA;
}
#tb_mr {
	Z-INDEX: 298; POSITION: relative; COLOR: #14568a; CURSOR: pointer
}
#tb_mr B {
	FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
#tb_mr SMALL {
	FONT-SIZE: 11px
}
#page {
    font-size:12px; line-height:140%;
	WHITE-SPACE: nowrap
}
#page {
	WORD-SPACING: 4px
}
#page .n {
	FONT-SIZE: 12px
}

#page span{width: 10px; background:#00000;}

#rs {
	PADDING-BOTTOM: 8px; MARGIN: 20px 0px 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; BACKGROUND: #eff2fa; PADDING-TOP: 8px
}
#rs TD {
	WIDTH: 5%
}
#rs TH {
	TEXT-ALIGN: left; LINE-HEIGHT: 19px; WHITE-SPACE: nowrap; FONT-SIZE: 14px; VERTICAL-ALIGN: top; FONT-WEIGHT: normal
}
#rs .tt {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 10px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
#search {
	PADDING-BOTTOM: 16px; PADDING-LEFT: 20px; PADDING-RIGHT: 0px; PADDING-TOP: 35px
}
#search .btn_wr {
	VERTICAL-ALIGN: middle
}
#foot {
	TEXT-ALIGN: center; LINE-HEIGHT: 20px; BACKGROUND: #e6e6e6; HEIGHT: 20px; COLOR: #77c
}
#foot SPAN {
	COLOR: #666
}
.f {
	color: #999;
	LINE-HEIGHT: 130%; max-WIDTH: 600px; min-height: 200px; width: 100%; WORD-WRAP: break-word; FONT-SIZE: 100%; WORD-BREAK: break-all
}

.screenshot {
	max-width: 70px;
	max-height: 70px;
	float: right;
}

.h {
	WIDTH: 100%; MARGIN-LEFT: 8px
}
.r {
	WIDTH: 238px; WORD-BREAK: break-all; CURSOR: hand
}
.t {
	FONT-SIZE: 15px; FONT-WEIGHT: normal;
	white-space: nowrap;width: 595px;overflow: hidden;
	margin-bottom: 3px;
	text-overflow:ellipsis;
}
.pl {
	PADDING-LEFT: 3px; PADDING-RIGHT: 2px; HEIGHT: 8px; FONT-SIZE: 14px
}
.mo {
	LINE-HEIGHT: 10px; COLOR: #666; FONT-SIZE: 100%
}
A.mo:link {
	LINE-HEIGHT: 10px; COLOR: #666; FONT-SIZE: 100%
}
A.mo:visited {
	LINE-HEIGHT: 10px; COLOR: #666; FONT-SIZE: 100%
}
.htb {
	MARGIN-BOTTOM: 5px
}
.jc A {
	COLOR: #cc0000
}
A FONT[size='3'] FONT {
	TEXT-DECORATION: underline
}
FONT[size='3'] A FONT {
	TEXT-DECORATION: underline
}
.result {
	WIDTH: 600px; TABLE-LAYOUT: fixed;
	margin-bottom: 15px;
	border-bottom: 1px dotted #ebebeb;

}
.result-op .f {
	WORD-WRAP: normal
}


.result tr:hover
{
	background:#FFFFF3;
}

.result tr:hover td {background:none;}


.EC_mr15 {
	MARGIN-LEFT: 0px
}
.pd15 {
	PADDING-LEFT: 0px
}
.favurl {
	PADDING-LEFT: 20px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px 1px
}


.link_hover a{ text-decoration:none;}
.link_hover a:hover{text-decoration:underline;}

.nums a{
 text-decoration:none;}
 .num a:hover{text-decoration:underline;}

		#result_catalog{ font-size:9px;
        line-height:150%; background:#FFFFCC;
        margin-top:5px;
        margin-bottom:10px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 535px;
        }
		#result_catalog a{ text-decoration:none;}
        #result_catalog a:hover{ text-decoration:underline;}



.textbox {
    font-size: 14px;
    width:600px;margin:-6px 6px 6px 0px; padding:6px 6px 4px 6px;
	vertical-align:middle; border:1px solid #a4a4a4; background:#FFF;/* IE6 specific: */
    height: 28px;
}



/*#query { height: 28px; } /!* FireFox *!/*/

/**html #query { height: 28px;} /!* ie6 fixed *!/*/

/**+html #query { height: 18px;width:526px;} /!* ie7 fixed, 注意顺序 *!/*/



/*new code*/

.nums {COLOR: #999; FONT-SIZE: 12px}
.highlight_snippet{color: red;}


.autocomplete-w1 {
    background:url(../img/shadow.png) no-repeat bottom right; position:absolute; top:0px; left:0px; margin:6px 0 0 6px; /* IE6 fix: */ _background:none; _margin:1px 0 0 0; }
.autocomplete {
    font-size: 14px;
    border:1px solid #999; background:#FFF; cursor:default;
    text-align:left; max-height:400px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:150px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#f1f5f0;  }
.autocomplete div { padding:8px 8px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
.autocomplete strong { font-weight:normal; color:blue; }

.copyright{font-size:12px; line-height:140%;color: #cccccc;}
.copyright a{font-size: 12px; text-decoration: none;color: #07D;}
.copyright a:hover{font-size: 12px; text-decoration: underline;color: #07D;}

.middle_column_ul {
    list-style: none;
}



.count{color: #000000;}
#count{color: #000000;}

pre{ white-space: pre-wrap!important;    /*保留空白，进行换行*/
	word-wrap: break-word!important;    /*连续字符换行*/
	/*white-space:normal!important;*/    /*忽略空白，进行换行*/
}


.search-context{
	display: none;
}
