<%! func OffCanvas(w io.Writer,current string) error %>

<script src="/static/assets/uikit-2.27.1/js/core/offcanvas.min.js"></script>
<div id="tm-offcanvas" class="uk-offcanvas">

  <div class="uk-offcanvas-bar">

    <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav="{multiple:true}">
      <li class="uk-parent uk-active uk-open" aria-expanded="true"><a href="#">Menu</a>
        <div style="overflow: hidden; height: auto; position: relative;"><ul class="uk-nav-sub" role="menu">
          <% if len(navs)>0 {
          for _,obj:=range navs{
          %>
          <li <%== NavCurrent(current,obj.name) %> ><a href="<%= obj.url %>"><%= obj.displayName %></a></li>
          <%
          }
          }
          %>
        </ul></div>
      </li>
      <li class="uk-nav-divider"></li>
      <li><a href="http://github.com/infinitbyte/gopa">GitHub</a></li>
      <li><a href="http://github.com/infinitbyte/gopa/issues">Issues</a></li>
      <li><a href="https://github.com/infinitbyte/gopa/releases">Releases</a></li>
      <li><a href="http://github.com/infinitbyte/gopa/blob/master/CHANGES.md">Changelog</a></li>
    </ul>

  </div>

</div>
