<%! func Setting(w io.Writer,str string) error %>

<%% import "github.com/infinitbyte/gopa/modules/ui/admin/common" %%>

<% common.Head(w, "pprof","") %>
<% common.Body(w) %>
<% common.Nav(w,"pprof") %>



<div class="tm-middle">
    <div class="uk-container uk-container-center">

        <div class="uk-grid" data-uk-grid-margin="">
            <div class="tm-sidebar uk-width-medium-1-4 uk-hidden-small uk-row-first">



            </div>
            <div class="tm-main uk-width-medium-3-4">

                <div class="uk-alert" ><span id="domain-alert">pprof</span></div>

            <article class="uk-article">


            </article>
            <button class="uk-button uk-button-primary" type="button">Snapshot</button>
            <button class="uk-button uk-button-primary" type="button">Compare</button>

            </div>
        </div>

    </div>
</div>

<% common.Footer(w) %>
