<%! func Nav(w io.Writer, current string) error %>

<nav class="tm-navbar uk-navbar uk-navbar-attached">
  <div class="uk-container uk-container-center">

    <a class="uk-navbar-brand uk-hidden-small" href="/ui/"><img class="uk-margin uk-margin-remove" src="/static/assets/img/logo.svg" height="30" title="GOPA" alt="GOPA"></a>

    <ul class="uk-navbar-nav uk-hidden-small">
      <li <%== NavCurrent(current,"Dashboard") %> ><a href="/ui/">Dashboard</a></li>
      <li <%== NavCurrent(current,"Tasks") %> ><a href="/ui/tasks/">Tasks</a></li>
      <li <%== NavCurrent(current,"Explore") %>  ><a href="/ui/explore/">Explore</a></li>
      <li <%== NavCurrent(current,"Console") %> ><a href="/ui/console/">Console</a></li>
      <li <%== NavCurrent(current,"BoldDB") %> ><a href="/ui/boltdb/">BoldDB</a></li>
    </ul>

    <a href="#tm-offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas=""></a>

    <div class="uk-navbar-brand uk-navbar-center uk-visible-small"><img src="/static/assets/img/logo.svg" height="30" title="GOPA" alt="GOPA"></div>

  </div>
</nav>

<div style="height: 15px;clear: both"></div>
