<%! func Nav(w io.Writer, current string) error %>

<nav class="tm-navbar uk-navbar uk-navbar-attached">
  <div class="uk-container uk-container-center">

    <a class="uk-navbar-brand uk-hidden-small" href="/admin/"><img class="uk-margin uk-margin-remove" src="/static/assets/img/logo.svg" height="30" title="GOPA" alt="GOPA"></a>

    <ul class="uk-navbar-nav uk-hidden-small">

      <% if len(navs)>0 {
      for _,obj:=range navs{
      %>
      <li <%== NavCurrent(current,obj.name) %> ><a href="<%= obj.url %>"><%= obj.displayName %></a></li>
      <%
      }
      }
      %>
    </ul>

    <a href="#tm-offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas=""></a>

    <div class="uk-navbar-brand uk-navbar-center uk-visible-small"><img src="/static/assets/img/logo.svg" height="30" title="GOPA" alt="GOPA"></div>

  </div>
</nav>

<div style="height: 15px;clear: both"></div>
